agent/test/data/text.1k
[{"id":"3dffb3a8.d91b5c","type":"tab","label":"Sighthound Flow"},{"z":"","id":"a0df15e8.ad1d48","type":"milkcocoa","appId":"woodjh7366m7"},{"z":"","id":"5b6b6348.d33dcc","type":"milkcocoa","appId":"onjflxmawd"},{"x":116,"y":443,"z":"3dffb3a8.d91b5c","id":"a927b67a.bfe368","name":"Start","once":false,"type":"inject","topic":"","wires":[["8634eb51.c653a8"]],"repeat":"","crontab":"","payload":"","payloadType":"date"},{"x":281,"y":446,"z":"3dffb3a8.d91b5c","id":"8634eb51.c653a8","func":"\nvar body = {username : \"sysadmin@vurehub.com\", password : \"k5K2MR0q9tK6s0fHd7cf\"};\nvar headers = { \"Content-Type\": \"application/json\" };\n\nmsg.headers = headers;\nmsg.payload = JSON.stringify(body)\n\nreturn msg;","name":"Vure Login","type":"function","noerr":0,"wires":[["b4cebc4f.0f07c"]],"outputs":1},{"x":449,"y":445,"z":"3dffb3a8.d91b5c","id":"b4cebc4f.0f07c","ret":"txt","tls":"","url":"https://app.vurehub.com/api/session/signin","name":"","type":"http request","wires":[["6f274acc.9241a4"]],"method":"POST"},{"x":693