ports/awsiot/test/data/01/flows.json
[{"id":"b85da0dd.d72f9","type":"tab","label":"Flow 1"},{"id":"5b87484.76f73b8","type":"force","z":"","username":"admin@demo01.mashmatrix.org","loginurl":"https://login.salesforce.com","logintype":"Username-Password"},{"id":"e59485e.dcd1278","type":"inject","z":"b85da0dd.d72f9","name":"","topic":"","payload":"SELECT Id, Name FROM Account","payloadType":"str","repeat":"10","crontab":"","once":true,"x":401.5,"y":149,"wires":[["f90e2603.1dfca8"]]},{"id":"f90e2603.1dfca8","type":"force in","z":"b85da0dd.d72f9","force":"5b87484.76f73b8","operation":"query","sobject":"","extname":"","name":"Account","x":579.5,"y":200,"wires":[["2d6f3bc0.a315d4"]]},{"id":"f1f75c3.bcacea","type":"debug","z":"b85da0dd.d72f9","name":"","active":true,"console":"true","complete":"payload","x":1034.5,"y":284,"wires":[]},{"id":"2d6f3bc0.a315d4","type":"change","z":"b85da0dd.d72f9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.records","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":802.5,"y":244,"wires":[["f1f75c3.bcacea"]]}]