node-red/.node-red-config/flows.json
[{"id":"2abd82ae.93959e","type":"tab","label":"Flow 1"},{"x":203.5,"y":237,"z":"2abd82ae.93959e","id":"7e8d6dcf.6cec94","name":"","once":true,"type":"inject","topic":"","wires":[["4dfbf7dc.fa1d38"]],"repeat":"5","crontab":"","payload":"","payloadType":"date"},{"x":731.5,"y":237,"z":"2abd82ae.93959e","id":"40b26e14.12046","name":"","type":"debug","wires":[],"active":true,"console":"true","complete":"payload"},{"x":455.5,"y":237,"z":"2abd82ae.93959e","id":"4dfbf7dc.fa1d38","func":"const randomLetters = ['a', 'b', 'c', 'd']\nmsg.payload = randomLetters[Math.floor(randomLetters.length*Math.random())]\nreturn msg;","name":"","type":"function","noerr":0,"wires":[["40b26e14.12046"]],"outputs":1}]