node-red/.node-red-config/flows.json
[{"id":"86fbc739.d15ff8","type":"tab","label":"Flow 1"},{"x":619.5,"y":208,"z":"86fbc739.d15ff8","id":"1a229176.58c0cf","name":"","type":"debug","wires":[],"active":true,"console":"true","complete":"payload"},{"x":175.5,"y":175,"z":"86fbc739.d15ff8","id":"b9501668.c49058","name":"","once":true,"type":"inject","topic":"","wires":[["274fb9fb.7c6596"]],"repeat":"5","crontab":"","payload":"","payloadType":"date"},{"x":353.5,"y":197,"z":"86fbc739.d15ff8","id":"274fb9fb.7c6596","func":"console.log('w00t')\nreturn msg;","name":"","type":"function","noerr":0,"wires":[["1a229176.58c0cf","1987d80d.9abba8"]],"outputs":1},{"x":176,"y":289,"z":"86fbc739.d15ff8","id":"839bffe2.7706","name":"","type":"milkcocoa in","wires":[["274fb9fb.7c6596"]],"dataStore":"","operation":"push"},{"x":501,"y":273,"z":"86fbc739.d15ff8","id":"1987d80d.9abba8","name":"","type":"slack","wires":[],"channel":"","username":"","emojiIcon":"","channelURL":""}]