ports/modeinc/test/data/01/flows.json
[{"id":"a36ea9f1.11c9d8","type":"tab","label":"Flow 1"},{"id":"749ce22.2a52a1c","type":"http request","z":"a36ea9f1.11c9d8","name":"","method":"GET","ret":"txt","url":"http://localhost:33000/hello","tls":"","x":388.5,"y":193,"wires":[["9bf56a86.23bae8"]]},{"id":"aae7333f.c658f","type":"inject","z":"a36ea9f1.11c9d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":153.5,"y":194,"wires":[["749ce22.2a52a1c"]]},{"id":"9bf56a86.23bae8","type":"debug","z":"a36ea9f1.11c9d8","name":"","active":true,"console":"false","complete":"false","x":639.5,"y":192,"wires":[]}]