ports/modeinc/node-red/.node-red-config/.flows.json.backup
[{"id":"649d8378.3c6c2c","type":"tab","label":"Flow 1"},{"id":"56301dc6.ee6324","type":"pubnub-keys","z":"649d8378.3c6c2c","pub_key":"pub-c-316060d0-e6b4-4000-8513-7a528f53becc","sub_key":"sub-c-63156a74-947c-11e6-a68c-0619f8945a4f"},{"id":"ff500d53.1f109","type":"pubnub-keys","z":"649d8378.3c6c2c","pub_key":"pub-c-fa0349df-b946-4087-9b24-0f3b56b17362","sub_key":"sub-c-29ab2b7a-947c-11e6-bb6b-0619f8945a4f"},{"id":"97754d.436a7ab","type":"pubnub in","z":"649d8378.3c6c2c","keys":"ff500d53.1f109","channel":"node-red","x":142.5,"y":308,"wires":[["94202caf.b7172"]]},{"id":"12fcc90c.72c287","type":"pubnub out","z":"649d8378.3c6c2c","keys":"56301dc6.ee6324","channel":"node-red","x":320,"y":100,"wires":[]},{"id":"8a4761e.0a7d1a","type":"inject","z":"649d8378.3c6c2c","name":"","topic":"","payload":"こんにちは","payloadType":"str","repeat":"","crontab":"","once":false,"x":123.5,"y":47,"wires":[["12fcc90c.72c287"]]},{"id":"8fbc38b.e7b0ac8","type":"pubnub out","z":"649d8378.3c6c2c","keys":"ff500d53.1f109","channel":"node-red","x":418.5,"y":132,"wires":[]},{"id":"1b4b33bf.253c8c","type":"inject","z":"649d8378.3c6c2c","name":"","topic":"","payload":"aaa","payloadType":"str","repeat":"","crontab":"","once":false,"x":80.5,"y":186,"wires":[["da62f740.3a9808"]]},{"id":"94202caf.b7172","type":"debug","z":"649d8378.3c6c2c","name":"","active":true,"console":"false","complete":"false","x":423.5,"y":226,"wires":[]},{"id":"da62f740.3a9808","type":"function","z":"649d8378.3c6c2c","name":"","func":"msg.payload =  {\n    \"mqtt\"    : \"from Node-RED\", \n    \"channel\" : \"pub-c-fa0349df-b946-4087-9b24-0f3b56b17362/sub-c-29ab2b7a-947c-11e6-bb6b-0619f8945a4f/node-red\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":238.5,"y":173,"wires":[["8fbc38b.e7b0ac8"]]}]